body {
    background-color: #191728;
}

* {
    font-family: 'Poppins';
}


.profile {
    text-align: center;
    color: #76aab5;
    font-size: large;
    
}


.allinfo{
    width: 200px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

h1 {
    text-align: center;
    color: #F9F7F7;
}

p{
    color: #76aab5;
    text-align: center;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 70%;
}

.navbar {
    width: 100%;
    position: -webkit-sticky;
    position: fixed;
    top:0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    background-color: #333;
    justify-content: space-evenly; /* Evenly space items */
    align-items: center; /* Center items vertically */
}

#navlist {
    
    flex: 1; /* Make each item take equal space */
    text-align: center; /* Center text within each item */
}

#navlist a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#navlist a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}



ol {
    color: #76aab5;
}

h4 {
    font-size: large;
}



.heads{
    margin-top: 100px;
}




/* Color Palette:
Light Shades: #F9F7F7;
Light Accent: #76AAB5;
Main Brand Color: #877DA1;
Dark Accent: #659AAF;
Dark Shades: #191728;
*/