body {
    background-color: #191728;
}

* {
    font-family: 'Poppins';
}

.profile, .allinfo, p {
    text-align: center;
    color: #76aab5;
    font-size: large;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 70%;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0d151c;
    justify-content: space-evenly;
}

#navlist a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#navlist a:hover {
    background-color: #111;
}

.heads {
    margin-top: 100px;
}

/* Commenting out the previous .column styling */
.column {
    /* display: inline-block;
       float: left;
       width: 31%;
       margin: 1em;
       background-color: rgba(0,0,0,0); */
}

/* New Flexbox styling */
.container {
    background-color: #0f0e17;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.box {
    background-color: #222237;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .box {
        width: 100%;
    }
}
